.PLP-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
}

.product-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 750px) {
  .product-flex {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 22vw;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .product-flex {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 21vw;
    margin-right: 1rem;
    grid-column-gap: 2rem;
  }
}
